// Variable-> stores a data 
$mystyle:#f4acb7;

// h1{
//     color:$mystyle;
//     background-color:lightcyan;
//     padding: 20px;
//     border-radius: 20px;
// }
 $myseecolor:#967aa1;
 $mystyle1:#e5383b;
// h2{
//     color:$myseecolor;
//     background-color:lightgoldenrodyellow;
//     padding: 20px;
//     border-radius: 40px;
// }
#mydiv{
    background-color: $mystyle;
h1{
    color:$mystyle1;
    //background-color:lightcyan;
    padding: 20px;
    border-radius: 20px;
    }
h2{
    color:lightgoldenrodyellow;

}   
h3{
    color: $myseecolor;
} 
}